In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Analysis of the California Fire Incidents Dataset

### 1. Data Overview
- **Total Records (Entries):** 1,636
- **Total Variables (Columns):** 40
- **Dataset Type:** CSV file

### 2. Data Provenance
- **Source:** The dataset appears to be compiled from official fire department records, including CAL FIRE and other agencies (kagle : https://www.kaggle.com/datasets/ananthu017/california-wildfire-incidents-20132020)
- **Collection Method:** Likely aggregated from fire incident reports submitted by various firefighting units and government agencies.

### 3. Census or Sample?
- This dataset is **not a sample**; it seems to be a **census of fire incidents** within California, capturing all reported fires over a specified period.

### 4. Data Processing
- Some fields, such as **AcresBurned**, **Fatalities**, and **PersonnelInvolved**, appear to be numeric.
- Others, like **ConditionStatement** and **Status**, contain text descriptions.
- **Dates** are in an ISO 8601 format (e.g., `2013-08-17T15:25:00Z`).
- Some values are missing, indicating incomplete reporting.

### 5. Selection/Sampling Criteria
- The dataset includes **all reported incidents** rather than a sampled subset.
- Fires that meet a particular threshold (size, impact, or agency reporting) may be included.

### 6. Units and Sample Size
- **Unit of Analysis:** Each row represents an individual fire incident.
- **Sample Size (Total Fires Recorded):** 1,636 incidents.

### 7. Key Variables (40 total)
- **Fire Characteristics:** `AcresBurned`, `PercentContained`, `FuelType`
- **Location:** `Latitude`, `Longitude`, `Counties`
- **Response Details:** `Engines`, `AirTankers`, `Helicopters`, `CrewsInvolved`
- **Impact:** `Fatalities`, `Injuries`, `StructuresDamaged`, `StructuresDestroyed`
- **Dates:** `Started`, `Extinguished`, `Updated`
- **Incident Management:** `AdminUnit`, `MajorIncident`, `CalFireIncident`

## Fire Characteristics

### AcresBurned
**Description:** Total area burned in acres.

**Type:** Numerical (Continuous)

**Range:** 0 - 257,314 acres

### PercentContained
**Description:** Percentage of fire containment.

**Type:** Numerical (Continuous)

**Range:** 0 - 100%

### FuelType
**Description:** Type of fuel that contributed to the fire.

**Type:** Categorical

**Levels:** Grass, Brush, Timber, Mixed

## Location

### Latitude
**Description:** Geographic coordinate (latitude) of fire incident.

**Type:** Numerical (Continuous)

**Range:** -90 to 90

### Longitude
**Description:** Geographic coordinate (longitude) of fire incident.

**Type:** Numerical (Continuous)

**Range:** -180 to 180

### Counties
**Description:** County where the fire occurred.

**Type:** Categorical

**Levels:** Various California counties

## Response Details

### Engines
**Description:** Number of fire engines deployed.

**Type:** Numerical (Discrete)

**Values:** 0, 1, 2, ...

### AirTankers
**Description:** Number of air tankers used.

**Type:** Numerical (Discrete)

**Values:** 0, 1, 2, ...

### Helicopters
**Description:** Number of helicopters involved.

**Type:** Numerical (Discrete)

**Values:** 0, 1, 2, ...

### CrewsInvolved
**Description:** Number of firefighting crews involved.

**Type:** Numerical (Discrete)

**Values:** 0, 1, 2, ...

## Impact

### Fatalities
**Description:** Number of reported fatalities due to the fire.

**Type:** Numerical (Discrete)

**Values:** 0, 1, 2, ...

### Injuries
**Description:** Number of people injured due to the fire.

**Type:** Numerical (Discrete)

**Values:** 0, 1, 2, ...

### StructuresDamaged
**Description:** Number of structures damaged.

**Type:** Numerical (Discrete)

**Values:** 0, 1, 2, ...

### StructuresDestroyed
**Description:** Number of structures completely destroyed.

**Type:** Numerical (Discrete)

**Values:** 0, 1, 2, ...

## Dates

### Started
**Description:** Date and time when the fire started.

**Type:** DateTime

**Format:** ISO 8601 (YYYY-MM-DDTHH:MM:SSZ)

### Extinguished
**Description:** Date and time when the fire was fully extinguished.

**Type:** DateTime

**Format:** ISO 8601 (YYYY-MM-DDTHH:MM:SSZ)

### Updated
**Description:** Last update timestamp of the fire record.

**Type:** DateTime

**Format:** ISO 8601 (YYYY-MM-DDTHH:MM:SSZ)

## Incident Management

### AdminUnit
**Description:** Fire management agency responsible for the fire.

**Type:** Categorical

**Levels:** Various fire management agencies

### MajorIncident
**Description:** Whether the fire was classified as a major incident.

**Type:** Boolean

**Levels:** True, False

### CalFireIncident
**Description:** Whether CAL FIRE was involved in managing the incident.

**Type:** Boolean

**Levels:** True, False

In [ ]:
df = pd.read.csv("California_Fire_Incidents.csv")
df

In [4]:
df.describe()

,AcresBurned,AirTankers,ArchiveYear,CrewsInvolved,Dozers,Engines,Fatalities,Helicopters,Injuries,Latitude,Longitude,PercentContained,PersonnelInvolved,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,WaterTenders
count,1633.000000,28.000000,1636.000000,171.000000,123.000000,191.000000,21.000000,84.000000,120.000000,1636.000000,1636.000000,1633.0,204.000000,67.000000,175.000000,0.0,30.000000,146.000000
mean,4589.443968,4.071429,2016.608802,11.561404,7.585366,23.565445,8.619048,5.357143,3.500000,37.203975,-108.082642,100.0,328.553922,67.970149,271.788571,NaN,522.800000,7.815068
std,27266.337722,6.399818,1.845340,14.455633,14.028616,41.004424,18.529642,7.265437,3.806231,135.401380,37.006927,0.0,521.138789,155.771975,1557.255963,NaN,739.586856,12.719251
min,0.000000,0.000000,2013.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-120.258000,-124.196290,100.0,0.000000,0.000000,0.000000,NaN,0.000000,1.000000
25%,35.000000,2.000000,2015.000000,2.500000,1.000000,5.000000,1.000000,1.000000,1.000000,34.165891,-121.768358,100.0,55.000000,1.000000,1.000000,NaN,0.000000,2.000000
50%,100.000000,2.000000,2017.000000,6.000000,2.000000,11.000000,3.000000,2.000000,3.000000,37.104065,-120.461560,100.0,151.500000,6.000000,7.000000,NaN,45.000000,4.000000
75%,422.000000,4.000000,2018.000000,13.500000,5.000000,24.000000,6.000000,5.000000,4.000000,39.086808,-117.474073,100.0,350.000000,49.500000,41.500000,NaN,1043.750000,6.000000
max,410203.000000,27.000000,2019.000000,82.000000,76.000000,256.000000,85.000000,29.000000,26.000000,5487.000000,118.908200,100.0,3100.000000,783.000000,18804.000000,NaN,2600.000000,79.000000

In [9]:
df.info

<bound method DataFrame.info of       AcresBurned  Active                                          AdminUnit  \
0        257314.0   False  Stanislaus National Forest/Yosemite National Park
1         30274.0   False  USFS Angeles National Forest/Los Angeles Count...
2         27531.0   False  CAL FIRE Riverside Unit / San Bernardino Natio...
3         27440.0   False                              Tahoe National Forest
4         24251.0   False                       Ventura County Fire/CAL FIRE
...           ...     ...                                                ...
1631          9.0   False                   CAL FIRE / Riverside County Fire
1632          2.0   False                  CAL FIRE Nevada-Yuba-Placer Unit
1633          NaN   False               Yolo County Fire Protection District
1634          NaN   False                   Camp Pendleton Marine Corps Base
1635          NaN   False                           Bureau of Indian Affairs

      AirTankers  ArchiveYear  CalFireIncident  \
0            NaN         2013             True
1            NaN         2013             True
2            NaN         2013             True
3            NaN         2013            False
4            NaN         2013             True
...          ...          ...              ...
1631         NaN         2019             True
1632         NaN         2019             True
1633         NaN         2019            False
1634         NaN         2019            False
1635         NaN         2019            False

                               CanonicalUrl  \
0            /incidents/2013/8/17/rim-fire/
1     /incidents/2013/5/30/powerhouse-fire/
2       /incidents/2013/7/15/mountain-fire/
3       /incidents/2013/8/10/american-fire/
4         /incidents/2013/5/2/springs-fire/
...                                     ...
1631      /incidents/2019/10/10/eagle-fire/
1632        /incidents/2019/6/28/long-fire/
1633      /incidents/2019/11/25/cashe-fire/
1634        /incidents/2019/10/22/oak-fire/
1635    /incidents/2019/10/14/johnson-fire/

                                     ConditionStatement ControlStatement  \
0                                                   NaN              NaN
1                                                   NaN              NaN
2                                                   NaN              NaN
3                                                   NaN              NaN
4     Acreage has been reduced based upon more accur...              NaN
...                                                 ...              ...
1631                                                NaN              NaN
1632                                                NaN              NaN
1633                                                NaN              NaN
1634                                                NaN              NaN
1635  As of 10:00 p.m. on 10/16, the fire is 90% con...              NaN

         Counties  ...                                     SearchKeywords  \
0        Tuolumne  ...  Rim Fire, Stanislaus National Forest, Yosemite...
1     Los Angeles  ...  Powerhouse Fire, May 2013, June 2013, Angeles ...
2       Riverside  ...  Mountain Fire, July 2013, Highway 243, Highway...
3          Placer  ...  American Fire, August 2013, Deadwood Ridge, Fo...
4         Ventura  ...  Springs Fire, May 2013, Highway 101, Camarillo...
...           ...  ...                                                ...
1631    Riverside  ...                                                NaN
1632       Nevada  ...                                                NaN
1633         Yolo  ...                                                NaN
1634    San Diego  ...                                                NaN
1635    Riverside  ...                                                NaN

                       Started     Status  StructuresDamaged  \
0    2013-08-17 15:25:00+00:00  Finalized                NaN
1    2013-05-30 15:28:00+00:00  Finalized                NaN
2    2013-07-15 13:43:00+00:00  Finalized                NaN
3    2013-08-10 16:30:00+00:00  Finalized                NaN
4    2013-05-02 07:01:00+00:00  Finalized                6.0
...                        ...        ...                ...
1631 2019-10-10 12:08:00+00:00  Finalized                NaN
1632 2019-06-28 15:03:04+00:00  Finalized                NaN
1633 2019-11-25 12:02:02+00:00  Finalized                NaN
1634 2019-10-22 19:20:44+00:00  Finalized                NaN
1635 2019-10-14 15:32:20+00:00   Inactive                NaN

     StructuresDestroyed  StructuresEvacuated  StructuresThreatened  \
0                    NaN                  NaN                   NaN
1                    NaN                  NaN                   NaN
2                    NaN                  NaN                   NaN
3                    NaN                  NaN                   NaN
4                   10.0                  NaN                   NaN
...                  ...                  ...                   ...
1631                 NaN                  NaN                   NaN
1632                 NaN                  NaN                   NaN
1633                 NaN                  NaN                   NaN
1634                 NaN                  NaN                   NaN
1635                 NaN                  NaN                   NaN

                                  UniqueId                   Updated  \
0     5fb18d4d-213f-4d83-a179-daaf11939e78 2013-09-06 18:30:00+00:00
1     bf37805e-1cc2-4208-9972-753e47874c87 2013-06-08 18:30:00+00:00
2     a3149fec-4d48-427c-8b2c-59e8b79d59db 2013-07-30 18:00:00+00:00
3     8213f5c7-34fa-403b-a4bc-da2ace6e6625 2013-08-30 08:00:00+00:00
4     46731fb8-3350-4920-bdf7-910ac0eb715c 2013-05-11 06:30:00+00:00
...                                    ...                       ...
1631  6e93b252-99a3-4214-9921-238373b17535                       NaT
1632  b38c0563-b321-431b-9174-6336c5a0d449                       NaT
1633  9c26f915-1b33-422d-b30a-9eb4da6fd729                       NaT
1634  7264a106-e0f4-41de-8fd0-3f9110431e28                       NaT
1635  8bf75401-999f-42bd-8c0a-8db508591545                       NaT

      WaterTenders
0              NaN
1              NaN
2              NaN
3              NaN
4             11.0
...            ...
1631           NaN
1632           NaN
1633           NaN
1634           NaN
1635           NaN

[1636 rows x 40 columns]>

Check missing values

In [10]:
df.isnull().sum()

AcresBurned                3
Active                     0
AdminUnit                  0
AirTankers              1608
ArchiveYear                0
CalFireIncident            0
CanonicalUrl               0
ConditionStatement      1352
ControlStatement        1531
Counties                   0
CountyIds                  0
CrewsInvolved           1465
Dozers                  1513
Engines                 1445
Extinguished              59
Fatalities              1615
Featured                   0
Final                      0
FuelType                1624
Helicopters             1552
Injuries                1516
Latitude                   0
Location                   0
Longitude                  0
MajorIncident              0
Name                       0
PercentContained           3
PersonnelInvolved       1432
Public                     0
SearchDescription         17
SearchKeywords           203
Started                    4
Status                     0
StructuresDamaged       1569
StructuresDestroyed     1461
StructuresEvacuated     1636
StructuresThreatened    1606
UniqueId                   0
Updated                  289
WaterTenders            1490
dtype: int64

In [ ]:
df0 = df.dropna()

Empty DataFrame
Columns: [AcresBurned, Active, AdminUnit, AirTankers, ArchiveYear, CalFireIncident, CanonicalUrl, ConditionStatement, ControlStatement, Counties, CountyIds, CrewsInvolved, Dozers, Engines, Extinguished, Fatalities, Featured, Final, FuelType, Helicopters, Injuries, Latitude, Location, Longitude, MajorIncident, Name, PercentContained, PersonnelInvolved, Public, SearchDescription, SearchKeywords, Started, Status, StructuresDamaged, StructuresDestroyed, StructuresEvacuated, StructuresThreatened, UniqueId, Updated, WaterTenders]
Index: []

[0 rows x 40 columns]

In [14]:
df0.isnull().sum()

AcresBurned             0
Active                  0
AdminUnit               0
AirTankers              0
ArchiveYear             0
CalFireIncident         0
CanonicalUrl            0
ConditionStatement      0
ControlStatement        0
Counties                0
CountyIds               0
CrewsInvolved           0
Dozers                  0
Engines                 0
Extinguished            0
Fatalities              0
Featured                0
Final                   0
FuelType                0
Helicopters             0
Injuries                0
Latitude                0
Location                0
Longitude               0
MajorIncident           0
Name                    0
PercentContained        0
PersonnelInvolved       0
Public                  0
SearchDescription       0
SearchKeywords          0
Started                 0
Status                  0
StructuresDamaged       0
StructuresDestroyed     0
StructuresEvacuated     0
StructuresThreatened    0
UniqueId                0
Updated                 0
WaterTenders            0
dtype: int64

In [6]:
n = len(df)
n

1636